/*==== Preset ====*/
@import url("main.css");

.bodyTitle {
    margin-top: 5%;
    margin-left: 10px;
    font-size: 120px;
    text-align: center;
    font-family: monospace;
    white-space: nowrap;
    overflow: hidden;
    border-right: 20px solid rgb(0, 0, 0);
    animation: typing 1.5s steps(10) forwards, blink 1.0s infinite;
}

@keyframes typing {
    0%   { width: 0%; }
    25%  { width: 25%; }
    50%  { width: 50%; }
    75%  { width: 75%; }
    100% { width: 95%; }
}

@keyframes blink {
    50% { border-color: transparent; }
}

.subTitle {
    font-size: 50px;
    text-align: center;
}

button {
    display: flex;
    width: 300px;
    height: 80px;
    margin: auto;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-align: center;
    border-radius: 6px;
    border: 1px solid#CACACA;
    color: #ffffff;
    background-color: #333333;
    transition: all 0.3s ease;
    cursor: pointer;
    outline: none;
}

.field button:hover {
    background-color: #505050;
}