/*==== Preset ====*/
@import url("main.css");

/*==== Login Field ====*/
.formContent {
    position: relative;
    width: 450px;
    margin: auto;
    padding: 30px;
    border-radius: 6px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.boxTitle {
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    color: #232836;
}

.formContent .field {
    position: relative;
    width: 100%;
    height: 50px;
    margin-top: 40px;
    border-radius: 6px;
}

.formContent .loginField {
    margin-top: 20px;
}

.field input, .field button {
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: 400;
    border: none;
    border-radius: 6px;
}

.field input {
    outline: none;
    border: 1px solid#CACACA;
}

.field input:focus {
    border-bottom-width: 2px;
}

.field button {
    transition: all 0.3s ease;
    color: #ffffff;
    background-color: #333333;
    cursor: pointer;
}

.field button:hover {
    background-color: #505050;
}