/*==== Preset ====*/
html, body {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    flex-direction: column;
    background-color: #f0f0f0;
}

/*==== Header Area ====*/
header {
    display: fixed;
    height: 40px;
    padding: 10px;
    align-items: center;
    color: #ffffff;
    background-color: #333333;
}

header .title {
    margin: auto;
    margin-top: 5px;
    text-align: center;
}

header .title strong {
    font-size: 25px;
    font-weight: bold;
    margin: auto;
    text-align: center;
    cursor: pointer;
}

/*==== Main Area ====*/
main {
    margin: auto;
}

/*==== Footer Area ====*/
footer {
    position: absolute;
    width: 100%;
    height: 65px;
    bottom: 0;
    margin: auto;
    text-align: center;
    justify-content: center;
    color: #000000;
    background-color: #dbdbdb;
}

footer p {
    margin: auto;
    margin-top: 10px;
    text-align: center;
    justify-content: center;
    color: #000000;
}

footer a {
    margin: auto;
    text-align: center;
    text-decoration: none;
}

footer img {
    width: 25px;
}